
.jumbotron button{
    background-color: blue;
    border-radius: 8px;
    color: white;
    padding: 10px 24px;
}

td{
    text-align: center;
    font-size: 100px;
    height: 150px;
    width: 150px;
    border: 5px solid black;
}
table{
    margin-left: auto;
    margin-right: auto;
}